.mailmain_header {
  background-color: #f5f7fa;
  position: relative;
  padding: 6px 18px 8px;
}

.header_title {
  padding-right: 72px;
}

.title_text {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  outline: 0;
  padding-top: 6px;
  font-size: 15px;
  line-height: normal;
  margin-right: 12px;
  font-weight: 700;
}

.title_li {
  position: relative;
}

.title_bottom {
  color: #999;
  line-height: normal;
}

#title_from {
  margin-bottom: 3px;
  margin-top: 8px;
}

#title_send {
  margin-top: 2px;
}

#title_date {
  margin-top: 2px;
}

.title_right {
  line-height: normal;
  position: absolute;
  top: 12px;
  right: 8px;
}

#glass_icon {
  width: 22px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/glass.png) no-repeat;
}

#glass_text {
  position: relative;
  top: 1px;
  outline: 0;
  cursor: pointer;
  padding: 2px 4px 4px;
  text-decoration: none;
  border-radius: 3px;
  color: #0F6099 !important;
}

.title_cut {
  position: relative;
  top: 1px;
  outline: 0;
  cursor: pointer;
  padding: 2px 4px 4px;
  text-decoration: none;
  border-radius: 3px;
  color: #0F6099 !important;
}

.cut_icon {
  margin-left: 2px;
  height: 14px;
  margin-top: -7px;
}

.hide {
  display: none;
}

.title_li_left {
  position: absolute;
  left: 0;
  top: 3px;
  color: #999;
}

.title_li_right {
  padding-left: 48px;
  min-height: 24px;
  line-height: 23px;
}

.li_rightbox {
  margin-right: 4px;
  /* margin-left: -2px; */
  margin-bottom: 4px;
  position: relative;
  padding-right: 25px;
  cursor: pointer;
  border-radius: 17px;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  height: 15px;
  line-height: 15px;
  padding: 2px 9px;
  color: #7F7F7F;
  outline: 0;
  border-color: #C2D4E3;
  background-color: #e8f0f7;
  display: inline-block;
  vertical-align: middle;
}

.rightbox_name {
  font-weight: 400;
  color: #333;
  vertical-align: top;
  display: inline-block;
}

.rightbox_email {
  vertical-align: top;
  display: inline-block;
}

.title_li_time {
  padding-left: 48px;
  min-height: 24px;
  line-height: 23px;
}

/*  */

.ad1_box {
  max-height: 20px;
  overflow: hidden;
  border-width: 0 0 1px;
  border-color: #e0e0e0;
  padding: 8px 18px;
  line-height: normal;
  background: #ffffe1;
  border: 1px solid #bdbdbd;
  position: relative;
}

#ad1_close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  text-decoration: none;
}

.ad1_text {
  position: relative;
  padding-left: 17px;
}

/*  */

.mailmain_text {
  padding: 12px 12px 0;
}

.text_box {
  width: auto;
  position: relative;
  background-color: skyblue;
}

/*  */

.mailmain_re {
  padding: 10px;
}

.re_outer {
  background-color: #f5f7fa;
  border-color: #cad8e1;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  height: auto;
}

.re_outer_click {
  height: 219px;
}

.re_inner {
  line-height: normal;
  padding: 8px;
}

.re_box {
  display: block;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  height: auto;
  transition: all .5s;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.666;
  zoom: 1;
  padding: 3px 8px;
  height: auto;
  border: 1px solid #bbb;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .1) inset;
  vertical-align: middle;
}

#re {
  transition-property: all;
  transition-duration: .5s;
  width: 100%;
  resize: none;
  overflow: hidden;
  height: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 0;
  outline: 0;
  background: transparent;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}

.re_btn {
  padding-top: 8px;
  position: relative;
}

.send_box {
  color: #fff;
  line-height: normal;
  position: relative;
  font-size: 12px;
  color: #555;
  border-radius: 3px;
  outline: 0;
  display: inline-block;
  vertical-align: middle;
}

.send_btn {
  border-color: #459830;
  vertical-align: top;
  text-align: center;
  height: 26px;
  line-height: 25px;
  padding: 0 12px;
  border: 1px solid #999;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  background: url(../images/sendbox.png) repeat-x;
}

.remove_box {
  line-height: normal;
  position: relative;
  font-size: 12px;
  color: #555;
  border-radius: 3px;
  outline: 0;
  display: inline-block;
  vertical-align: middle;
}

.remove_btn {
  vertical-align: top;
  text-align: center;
  height: 26px;
  line-height: 25px;
  padding: 0 12px;
  border: 1px solid #999;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  background: url(../images/removebox.png) repeat-y;
}

#ulabstract {
  list-style: none;
}

#title_abstract {
  margin-top: 9px;
}

.abstract_text {
  padding-left: 0;
  min-height: 24px;
  line-height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 110px;
}

.abstract_name{
  color: #3d882d!important;
}
